@model TodoList.Models.TodoPriorityViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Todos list:</h1>

<p>
    <a asp-action="Create">Create New Task Item</a>
</p>
<form asp-controller="Todos" asp-action="Index" method="get">
    <p>

        Priority: <select asp-for="TodoPriority" asp-items="Model.Priorities">
            <option value="">All</option>
        </select>

        Task: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Todos![0].Task)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todos![0].PlannedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todos![0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todos![0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todos![0].Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Todos!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
