@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]:</h2>

<p>This is a simple to-do list application following the MVC pattern.</p>
<li><b>Version:</b> @ViewData["Version"]</li>
<li><b>Author:</b> @ViewData["Author"]</li>
<li><b>Created:</b> @ViewData["Created"]</li>
<li><b>Updated:</b> @ViewData["Updated"]</li>