@model List<BookDTO>?

@{
    ViewData["Title"] = "Index";
}

<h1>Books list:</h1>

<form asp-controller="Books" asp-action="Index" method="get">
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Publisher
            </th>
            <th>
               Edition Date
            </th>
            <th>
                Category
            </th>
            <th>
                Language
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model!)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
        </tr>
}
    </tbody>
</table>
